body{
background-color: black; 
}
header,h2{
   text-align: center;
    background-color: black;
    color: wheat;
    }

#grid-flex{
    display: flex;
    flex-wrap:  wrap; 
    }


section{margin-right: 40px;}

img{width: 50%;
    height: auto;
    text-align: center;
    background:url( images/Aerial_Photography_UAV_Icon.svg) no-repeat top left;
background-size: 15%;
}

.grid-item{
    background-color: gray;
    color: wheat;
    width: 24%;
    background-color:0 0 0 0.1;
    text-align: center;
    list-style-type: none;
    margin: 0.5% 0.5%;
    border-radius: 2%;
    }

p,h3{margin: 5px;}

:dir(rtl){
    align-content: center;
    }

/**box1_resizing**/

li:nth-child(1) {
 flex-basis:49%;
}

/*For tablets and laptops*/
@media only screen and (min-device-width:768px) and (max-device-width: 1024px){
    .grid-item{
        width: 32%;
        font-size: 100%;
    }
    img{width:  100%;
    height: auto;}
    
    li:nth-child(1) {
 flex-basis:48.5%;
      
    }
     li:nth-child(2) {
 flex-basis:48.5%;
    }
    }

/*For smartphones*/
@media only screen and (min-device-width:320px) and (max-device-width: 767px){
    .grid-item{
        width: 49%;
        font-size: 100%;
    }
    img{width:  100%;
    height: auto;}
    
    li:nth-child(1) {
 flex-basis:100%;
    }
     li:nth-child(14) {
 flex-basis:100%;
    }
    






